.nav-item a:hover{
    background-color: #ddd;
    color: black;
}

a{
    text-decoration: none;
}

.breadcrumb-item :hover{
    background-color: #ddd;
    border-radius: 10%;
}

#map{
    height: 100%;
    width: 100%;
}

.foto{
    width: 100%;
    height: 90%;
}